
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

#details {
  padding: 10px 40px 0;
}

h1, p {
  color: #333;
}

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
   display: none !important;
}

ul {
  list-style: none;
  
}

button.rollcall-btn {
  width: 100%;
}

ul.person-list {
  padding: 0;
}

ul.person-list li {
  padding: 5px 0;
}

h1.title {
  text-align: center;
}