<!DOCTYPE html>

<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>RollCall</title>
    <link rel="stylesheet" href="rollcall.css">
    <link rel="stylesheet" href="packages/bootjack/css/bootstrap.css">
  </head>
  <body people ng-cloak>
    <h1 class="title">RollCall for {{ctrl.currentDate.toLocal() | date:'M/d/yy' }}</h1>    
    <div>
      <ul class="person-list">
        <li ng-repeat="person in ctrl.getPeople()|orderBy:'name'" ng-click="ctrl.togglePresent(person.dbKey)">
        <button id="btn" class="btn b" ng-class="ctrl.isPresent(person.dbKey) ? 'btn-success' : 'btn-inverse'">{{ person.name }}</button>
           
         </li>
         <li>New: <input ng-model="ctrl.name" type="text" /> <button ng-click="ctrl.addPerson()" class="btn btn-primary"><span class="glyphicon-plus"></span>Add</button></li>
      </ul>
    </div>
    <div style="padding-left: 40px;">
      <button class="btn b" ng-class="ctrl.showTotals == true ? 'btn-inverse' : 'btn-success'" ng-click="ctrl.showTotals = !ctrl.showTotals">{{ctrl.showTotals ? 'Hide' : 'Show'}} totals</button>
      <div ng-if="ctrl.showTotals">
        <div ng-repeat="monthTotal in ctrl.getMonthTotals()">
          <div>Month: {{monthTotal.month}}</div>
          <div>Total: {{monthTotal.total}}</div>
        </div>
      </div>
    </div>
  	<script src="packages/shadow_dom/shadow_dom.min.js"></script>
	<script type="application/dart" src="rollcall.dart"></script>
	<script type="text/javascript" src="packages/browser/dart.js"></script>
    
  </body>
</html>
